<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Linux manager</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<style>
			
		</style>
		<script>
			class Searcher {
				constructor() {}

				logout() {
					return fetch('logout.sh');
				}
				
				getLogs() {
					return fetch('logs.sh').then(response => {
								return response.json().then(e => {
									return {...e, status: response.status}
								});
							});
				}
			};
			
			const searcher = new Searcher();
			function logout() {
				searcher.logout().then((e)=>{
					document.cookie = 'token='; // remove token
					window.location = '/'; // ja s'ha fet logout, torna a la pàgina principal
				});
			}
			
			function show(el) {
				processes_app.setActive(false);
				logs_app.setActive(false);
				
				eval(`${el}_app`).setActive(true);
			}
		</script>
	</head>
	<body>
		<header>
			<nav>
				<a href="#" onclick="show('processes')">Gestió de procéssos</a>
				<a href="#" onclick="show('logs')">Gestió de logs</a>
				<a href="#" onclick="">Gestió de logs</a>
				<a href="#" onclick="">Gestió d'usuaris</a>
				<a href="#" onclick="">Filtrat de paquets</a>
			</nav>
			<a href="#" onclick="logout()">Logout</a>
		</header>
		<main>
			<section id="processes" v-if="active">
				<h1>Gestió de processos</h1>
			</section>
			
			<section id="logs" v-if="active">
				<h1>Gestió de logs</h1>
				
				<article>
					<h3>Últims accessos</h3>
					
				</article>
				
				<article>
					<h3>Logs</h3>
					<textarea readonly>{{logs}}</textarea>
				</article>
			</section>
		</main>
		
		<script>
			var processes_app = new Vue({
				el: '#processes',
				data: {
					active: true
				},
				methods: {
					setActive: function(bool) {
						this.active = bool;
					}
				}
			});
			
			var logs_app = new Vue({
				el: '#logs',
				data: {
					active: false,
					logs: ''
				},
				methods: {
					setActive: function(bool) {
						this.active = bool;
					}
				},
				beforeMount() {
					searcher.getLogs().then((r)=>{
						if (r.status === 200) {
							this.logs = r.logs;
						}
					});
				}
			});
		</script>
	</body>
</html>