<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Linux manager</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<style>
			
		</style>
		<script>
			class Searcher {
				constructor() {}

				logout() {
					return fetch('logout.sh');
				}
				
				getProcesses() {
					return fetch('processes.sh').then(response => {
								return response.json().then(e => {
									return {...e, status: response.status}
								});
							});
				}
				
				getLogs() {
					return fetch('logs.sh').then(response => {
								return response.json().then(e => {
									return {...e, status: response.status}
								});
							});
				}
				
				killProcess(pid) {
					return fetch(`kill.sh?pid=${pid}`);
				}
			};
			
			const searcher = new Searcher();
			function logout() {
				searcher.logout().then((e)=>{
					document.cookie = 'token='; // remove token
					window.location = '/'; // ja s'ha fet logout, torna a la pàgina principal
				});
			}
			
			function show(el) {
				processes_app.setActive(false);
				logs_app.setActive(false);
				
				eval(`${el}_app`).setActive(true);
			}
		</script>
	</head>
	<body>
		<header>
			<nav>
				<a href="#" onclick="show('processes')">Gestió de procéssos</a>
				<a href="#" onclick="show('logs')">Gestió de logs</a>
				<a href="#" onclick="">Gestió de logs</a>
				<a href="#" onclick="">Gestió d'usuaris</a>
				<a href="#" onclick="">Filtrat de paquets</a>
			</nav>
			<a href="#" onclick="logout()">Logout</a>
		</header>
		<main>
			<section id="processes" v-if="active">
				<h1>Gestió de processos</h1>
				
				<div>Temps encès: <span>{{uptime}}</span></div>
				<div>CPU: <span>{{cpu_usage()}}</span></div>
				<div>RAM: <span>{{ram_usage}}</span></div>
				<div>Disc: <span>{{disc_usage}}</span></div>
				<div>Auto-reload <input type="checkbox" v-model="reload" @change="reloadChanged()" /></div>
				
				<table>
				  <tr>
					<th>Nom</th>
					<th>Usuari</th>
					<th>PID</th>
					<th>CPU</th>
					<th>RAM</th>
					<th></th>
				  </tr>
				  <tr v-for="p in processes">
					<td>{{p.command}}</td>
					<td>{{p.user}}</td>
					<td>{{p.pid}}</td>
					<td>{{Math.trunc(p.cpu*100)}}%</td>
					<td>{{Math.trunc(p.mem*100)}}%</td>
					<td><button @click="kill(p.pid)">x</button></td>
				  </tr>
				</table>
			</section>
			
			<section id="logs" v-if="active">
				<h1>Gestió de logs</h1>
				
				<article>
					<h3>Últims accessos</h3>
					<table>
					  <tr>
						<th>Usuari</th>
						<th>Data</th>
					  </tr>
					  <tr v-for="l in last">
						<td>{{l.user}}</td>
						<td>{{l.date}}</td>
					  </tr>
					</table>
				</article>
				
				<article>
					<h3>Logs</h3>
					<textarea readonly>{{logs}}</textarea>
				</article>
			</section>
		</main>
		
		<script>
			var processes_app = new Vue({
				el: '#processes',
				data: {
					active: true,
					reload: true,
					
					uptime: '',
					ram_usage: '',
					disc_usage: '',
					processes: [],
					
					/* sort variables */
					sort_by: 'name',
					asc: true
				},
				methods: {
					setActive: function(bool) {
						this.active = bool;
					},
					cpu_usage: function() {
						return `${Math.trunc(this.processes.reduce((acum,curr)=>acum+curr.cpu, 0)*100)}%`;
					},
					kill: function(pid) {
						console.log(searcher.killProcess(pid));
					},
					load: function() {
						searcher.getProcesses().then((r)=>{
							if (r.status === 200) {
								this.uptime = r.uptime;
								this.ram_usage = `${Math.trunc(r.ram_usage*100)}%`
								this.disc_usage = `${Math.trunc(r.disc_usage*100)}%`;
								this.processes = r.processes;
								
								if (this.reload) setTimeout(this.load, 1500); // torna a cridar en 2s
							}
						});
					},
					reloadChanged: function() {
						if (this.reload) this.load();
					}
				},
				beforeMount() {
					this.load();
				}
			});
			
			var logs_app = new Vue({
				el: '#logs',
				data: {
					active: false,
					last: [],
					logs: ''
				},
				methods: {
					setActive: function(bool) {
						this.active = bool;
						if (bool) this.load();
					},
					load: function() {
						searcher.getLogs().then((r)=>{
							if (r.status === 200) {
								this.last = r.last;
								this.logs = r.logs;
							}
						});
					}
				},
				beforeMount() {
					this.load();
				}
			});
		</script>
	</body>
</html>