<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Linux manager</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<style>
			.error {
				background-color: red;
			}
		</style>
	</head>
	<body>
		<main id="vueRegion">
			<form action="login_post.sh" onsubmit="return false;"> <!-- method="post" enctype="application/x-www-form-urlencoded" -->
				<label for="name">Name</label>
				<input type="text" id="name" v-model="username" />
				<label for="password">Password</label>
				<input type="password" id="password" v-model="password" />
				<button @click="submit()" :disabled='loading'>Login</button>
			</form>
			
			<div class="error" v-for="error in errors">
				{{error.msg}}
				<button @click="discardError(error.id)">x</button>
			</div>
		</main>
		
		<script>
			class Searcher {
				constructor() {}

				loginPost(username, password) {
					return fetch('login_post.sh', {
								method: 'POST',
								headers: {
								  'Content-Type': 'application/x-www-form-urlencoded'
								},
								body: `username=${username}&password=${password}`
							}).then(response => {
								return response.json().then(e => {
									return {...e, status: response.status}
								});
							});
				}
			};
			
			const searcher = new Searcher();
			var app = new Vue({
				el: '#vueRegion',
				data: {
					username: '',
					password: '',
					loading: false,
					errors: []
				},
				methods: {
					submit: function() {
						this.loading = true;
						
						searcher.loginPost(this.username, this.password).then(result => {
							this.loading = false;
							
							if (result.status !== 200) this.appendError(result.err);
							else {
								document.cookie = `token=${result.token}`; // guarda el token
								window.location = '/'; // ja s'ha fet login, torna a la pàgina principal
							}
						});
					},
					appendError: function(err) {
						let id = 0;
						if (this.errors.length > 0) id = this.errors[this.errors.length - 1].id + 1;
						
						this.errors.push({id:id, msg:err});
						
						setTimeout(()=>this.discardError(id), 5000);
					},
					discardError: function(error_id) {
						this.errors = this.errors.filter(e => e.id !== error_id);
					}
				}
			});
		</script>
	</body>
</html>